.container {
    width: 80%;
    margin: auto;
    max-width: 1140px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 200;
    background: white;
    top: 0;
    box-shadow: 0 0rem 0.5rem rgba(0,0,0, 0.5);
    
    .alert {
        background: $background-purple;
        height: 40px;
        @include center;
        color: $background-light;
        @media(max-width: 992px) {
            width: 100%;
        }
    }
    .nav {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .side{
            display: none;
            @media (max-width:992px) {
                display: block;
            }
        }
        .sidebar{
            width: 200px;
            height: 100%;
            background: white;
            position: fixed;
            right: 0;
            top: 120px;
            z-index: 100;
            box-shadow: 2px 1rem 1rem rgba(0, 0, 0, 0.5);
            transform: translate(200px);
            transition: 500ms;
            &__links {
                list-style: none;
                margin-bottom: 1rem;
                @include center;
                padding:{
                    top: 3rem;
                    bottom: 3rem;
                }
                li{
                    display: flex;
                    flex-direction: column;
                    
                }
                a {
                    text-decoration: none;
                    color: $text-dark;
                    font-weight: bold;
                    transition: 0.5s;
                    &:not(:last-child()){
                        margin-bottom: 1rem;
                    }
                    &:hover {
                        color: $background-primary;
                    }
                }
            }
            &__cart {
                flex-grow: 1;
                .icon{
                    margin-bottom: 1rem;
                    
                    @include center;
                    i,a {
                        padding: 0 4px;
                        font-size: 1.5rem;
                    }
                    p {
                        background: $background-primary;
                        height: 30px;
                        width: 30px;
                        @include center;
                        border-radius: 50%;
                        font-size: 1rem;
                    }
                }
                .btn{
                    a {
                        @include button;
                        @include center
                        border-radius: 50px;
                        padding: 8px 25px;
                    }
                }
            }
        }
        &__logo {
            flex-grow: 1;
            padding: 15px 0;
            // margin-left: 120px;
            img {
                @include center;
                height: 40px;
            }
        }
        &__links {
            margin-left: 70px;
            flex-grow: 2;
            list-style: none;
            @include center;
            a {
                padding: 10px;
                text-decoration: none;
                color: $text-dark;
                font-weight: bold;
                transition: 0.5s;
                &:hover {
                    color: $background-primary;
                }
            }
            @media (max-width:992px) {
                display: none;
            }
        }
        &__cart {
            @include center;
            flex-grow: 1;
            
            i,a {
                padding: 0 4px;
            }
            p {
                background: $background-primary;
                height: 18px;
                width: 18px;
                @include center;
                border-radius: 50%;
                font-size: 9px;
            }
            a {
                @include button;
                border-radius: 50px;
                padding: 8px 25px;
            }
            @media (max-width:992px) {
                display: none;
            }
        }
        #check{
            display: none;
            &:checked ~ .sidebar {
                transform: translate(0px);
            }
        }
    }
}