.container {
    width: 80%;
    margin: auto;
    max-width: 1140px;
}
header {
    .alert {
        background: $background-purple;
        height: 40px;
        @include center;
        color: $background-light;
        @media(max-width: 992px) {
            width: 100%;
        }
    }

    .nav {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        
        
        &__logo {
            flex-grow: 1;
            padding: 15px 0;
            // margin-left: 120px;
            img {
                @include center;
                height: 40px;
            }
        }
        
        &__links {
            margin-left: 70px;
            flex-grow: 2;
            list-style: none;
            @include center;
            a {
                padding: 10px;
                text-decoration: none;
                color: $text-dark;
                font-weight: bold;
                transition: 0.5s;
                &:hover {
                    color: $background-primary;
                }
            }
        }

        &__cart {
            @include center;
            flex-grow: 1;
            
            i,a {
                padding: 0 4px;
            }
            p {
                background: $background-primary;
                height: 18px;
                width: 18px;
                @include center;
                border-radius: 50%;
                font-size: 9px;
            }

            a {
                @include button;
                border-radius: 50px;
                padding: 8px 25px;
            }
            
        }

      
        
    }
}