@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Segoe UI', sans-serif;
    background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Slab", sarif;
}